.note.new {
  background-color: #67d7cc;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}

textarea:focus,
input:focus {
  outline: none;
}

